{
   "presets": [
       [
            "next/babel",
            {
            "preset-reatc":{
                    "runtime": "automatic",
                    "importSource":"@emotion/react"
                }
            }
       ]
   ]
}